{% extends "::layout.html.twig" %}

{% block title %}Altaway offers{% endblock %}


{% block content %}
    <div class="col-xs-offset-1 col-xs-10">
    <h1 class="orange">{% block offerTitle %}Nos offres{% endblock %}</h1>
    </div>
    <div class="row">
        <div class="col-xs-3 img-full">
            <img src="{{ asset("bundles/altawaypage/images/arrow.png") }}" alt="arrow" />
        </div>
    </div>
    <div class="col-xs-offset-1 col-xs-7">
        {% block offerContent %}
        {% endblock %}
        <a href="{{ path('altaway_page_homepage') }}">
            <span>{{ 'homepage' | trans }}</span>
        </a>
    </div>
    <div class="col-xs-3">
        <div id="offer-right" data-spy="affix" data-offset-bottom="380" data-offset-top="0">

            {{ render(controller("AltawayOfferBundle:Offer:lastOffers")) }}

            {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul>
                            <li>
                                <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register' | trans({}, 'FOSUserBundle') }}</a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login' | trans({}, 'FOSUserBundle') }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            {%  endif %}
        </div>
    </div>
{% endblock %}